<ion-header>
  <ion-toolbar color="naranjo">
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <img src="https://i.imgur.com/ZMIHP0i.png" alt="Encabezado" class="header-image"/>

    <!-- error -->
    <h1>Página no encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe.</p>

    <img src="https://i.imgur.com/QtNE6sL.png" alt="Error 404" class="error-image"/>

    <ion-button expand="full" color="naranjo" routerLink="/menu">Volver al Inicio</ion-button>
  </div>
</ion-content>
