ion-card {
  margin: auto;
  max-width: 400px;
  text-align: center;
}

ion-button {
  margin-top: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-label {
  font-weight: bold;
  color: #333;
}

ion-input {
  --padding-start: 10px;
  --background: #f9f9f9;
}
